@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    filter: drop-shadow(0 0 5px #09001d);
}

.navbar a {
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
}

.navbar a:hover {
    color: #c40094;
}

.navbar a.active {
    color: #c40094;
}

.main {
    background: url('assets/background.jpg') no-repeat;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    transition: .5s;
}

.main.active {
    filter: blur(10px);
    pointer-events: none;
}

.home {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-content h1 {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, .3);
    margin-bottom: 30px;
}

.startBtn {
    width: 190px;
    height: 55px;
    background: #c40094;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px #c40094;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
}

.startBtn:hover {
    background: #09001d;
    box-shadow: none;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 500px;
    background: #fff;
    color: #09001d;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
}

.popup-info.active {
    opacity: 1;
    transform: translate(-50%,-50%) scale(1.1);
    pointer-events: visible;
}

.popup-info h2 {
    font-size: 50px;
    color: #c40094;
}

.control {
    display: block;
    width: 100%;
    border: 0.5px solid #09001d;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    color: #09001d;
    margin: 4px 0 15px 0;
    padding: 2px 5px;

}

.control-label {
    font-size: 16px;
    font-weight: 600;
    color: #09001d;
}

.btn-grp1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.infoBtn, .quizBtn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px;
    background: #c40094;
    border: 2px solid #c40094;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}

.exitBtn, .quizExitBtn {
    background: transparent;
    color: #c40094;
}

.exitBtn:hover, .quizExitBtn:hover {
    background-color: #c40094;
    color: #fff;
}

.continueBtn:hover, .quizNextBtn:hover {
    background-color: #950170;
    border-color: #950170;
}

.questionsContainer {
    min-width: max(550px,40%);
    color: #d605a2;   
    background-color: hsl(0, 0%, 10%);
    position: absolute;
    left: -50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border: 4px solid #c40094;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .5s;
}

.questionsContainer.active {
    left: 50%;
    filter: none;
}

.que-content {
    width: 500px;
}

.que-content h3 {
    font-size: 30px;
    padding: 40px;
    text-align: center;
    border-bottom: 1px solid #fff;
}

.que-content > p {
    padding: 40px 0;
    font-size: 18px;
}

.answers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #999;
    border-radius: 6px;
    padding: 10px 15px;
    font-size: 18px;
}

.options:hover {
    cursor: pointer;
    border: 1px solid #fff;
}

.options.active1 {
    border: 1px solid hsl(120, 100%, 45%);
}

.options.active2 {
    border: 1px solid red;
}

.circle {
    border: 2px solid #fff;
    background-color: #fff;
    height: 16px;
    width: 16px;
}

.circle.active {
    background-color: #d605a2;
}

.btn-grp2 {
    width: 82%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0 20px 0;
    padding: 20px 0 7px;
}
